In [1]:
import datetime

datetime_object = datetime.datetime.now()
print(datetime_object)

2024-07-23 03:47:13.585252

In [3]:
from datetime import date

my_date = date(1998,1,28)
print("Date passed as argument is", my_date)

Date passed as argument is 1998-01-28

In [5]:
today = date.today()

print("today's date is", today)

today's date is 2024-07-23

In [7]:
today = date.today()

print("current year:", today.year)
print("current month:", today.month)
print("current day:", today.day)

current year: 2024
current month: 7
current day: 23

In [17]:
from datetime import datetime


date_time = datetime.fromtimestamp(1721732419)
print("Datetime from timestamp:", date_time)

Datetime from timestamp: 2024-07-23 04:00:19

In [19]:
from datetime import datetime
dt = datetime.now()
unix_timestamp = dt.timestamp()
unix_timestamp

1721732946.705691

In [21]:
today = date.today()
str = date.isoformat(today)
print("strin representation", str)
print(type(str))

strin representation 2024-07-23
<class 'str'>

In [25]:
from datetime import time
my_time = time(13, 24, 56)
print("entered time", my_time)

my_time = time(minute=12)
print("\ntime with one argument", my_time)

my_time = time(second=30)
print("\ntime with one argument", my_time)

my_time = time(hour=10)
print("\ntime with one argument", my_time)

my_time = time()
print("\ntime with one argument", my_time)

entered time 13:24:56

time with one argument 00:12:00

time with one argument 00:00:30

time with one argument 10:00:00

time with one argument 00:00:00

In [27]:
from datetime import time

time = time(12,20,34)

print("hour=", time.hour)
print("minute", time.minute)
print("second", time.second)
print("microsecond", time.microsecond)

hour= 12
minute 20
second 34
microsecond 0

In [33]:
import calendar

yy = 2024
mm = 9

print(calendar.month(yy, mm))

   September 2024
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

In [35]:
import calendar

print("the calendar of year2022 is : ")
print(calendar.calendar(2022))

the calendar of year2022 is :
                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [51]:
import calendar
text_cal = calendar.HTMLCalendar(firstweekday = 0)

year = 2022
month = 9

print(text_cal.formatmonth(year,month))

<table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">September 2022</th></tr>
<tr><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th><th class="sun">Sun</th></tr>
<tr><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="thu">1</td><td class="fri">2</td><td class="sat">3</td><td class="sun">4</td></tr>
<tr><td class="mon">5</td><td class="tue">6</td><td class="wed">7</td><td class="thu">8</td><td class="fri">9</td><td class="sat">10</td><td class="sun">11</td></tr>
<tr><td class="mon">12</td><td class="tue">13</td><td class="wed">14</td><td class="thu">15</td><td class="fri">16</td><td class="sat">17</td><td class="sun">18</td></tr>
<tr><td class="mon">19</td><td class="tue">20</td><td class="wed">21</td><td class="thu">22</td><td class="fri">23</td><td class="sat">24</td><td class="sun">25</td></tr>
<tr><td class="mon">26</td><td class="tue">27</td><td class="wed">28</td><td class="thu">29</td><td class="fri">30</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td></tr>
</table>